* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    }
        
    html {
    font-size: 62.5%;
    background-color: rgb(20, 20, 20);
    }
        
    .container {
    display:flex;
    flex-wrap: wrap;
    }
    
    .cosa {
        display:flex;
        height: 800px;
        width: 100%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
       
       
    }
    .cosa_int {
       
        height: 730px;
        width: 300px;
        margin:auto;
       
    }
    .cosa_sim {
        color: #E7695F;
        font-size: 1.9rem;
        font-family: oswald,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    
    }
    
    .contenedor_titulo {
        color: #10273A;
        font-size: 3rem;
        font-family: oswald,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        line-height: 3rem;
        margin-bottom: 20px;
    }
    
    .cosa_parrafo_1 {
    
        color: #10273A;
        font-size: 1.5rem;
        font-family: avenir,Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 25px;
    
    }
    
    .monto{
        display:flex;
        margin-bottom: 15px;
    }
    .cosa_txt_1 {
        margin-top:10px;
        display:inline-block;
        color: #10273A;
        font-size: 1.5rem;
        font-family: avenir bold,Verdana, Geneva, Tahoma, sans-serif;
        width:70%;
        text-align: left;
    }
    #cosa_txt_2 {
        display:inline-block;
        width:30%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        color: #10273A;
        font-size: 2rem;
        font-family: oswald black,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .cosa_capital {
        display:flex;
       justify-content: right;
        align-items: center;
        height: 40px;
        width: 100%;
        background-color: rgb(223, 223, 223);
        border-radius: 20px;
        margin-bottom: 15px;
    }
    
    #capital_input {
        width: 100px;
        height: auto;
        border: none;
        outline: none;
        background-color: rgba(223, 223, 223, 0);
        color: #10273A;
        font-size: 2rem;
        font-family: oswald black,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .signo{
        color: #10273A;
        font-size: 2rem;
        font-family: oswald black,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    #rendimiento {
        margin-bottom: 30px;
    }
    
    #invert {
        width: 30px;
        height: 10px;
    }
    .con_era {
        margin-top: 10px;
        margin-bottom: 15px;
         
    }
    .con_era--caja{
        width: 170px;
    }
    #rend_total {
        margin-top: 20px;
        text-align: center;
        color: #D9202D;
        font-size: 4rem;
        font-family: oswald,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-left: auto;
        margin-right: auto;
    }
    
    .con_era--total {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        ;
    }
    
    #inv_1 {
    
        display:inline-block;
        color: #10273A;
        font-size: 3rem;
        font-family: oswald,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    
    }
    
    .inv_2 {
    
    display:inline-block;
    color: #10273A;
    font-size: 2rem;
    font-family: avenir,Verdana, Geneva, Tahoma, sans-serif;
    
    }
    
    #gan_1 {
    
        display:inline-block;
        color: #10273A;
        font-size: 3rem;
        font-family: oswald,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    
    }
    
    .gan_2 {
    
    display:inline-block;
    color: #10273A;
    font-size: 2rem;
    font-family: avenir,Verdana, Geneva, Tahoma, sans-serif;
    }

    #mese {
        display:inline-block;
    }

    #mes_1 {
        text-align: center;
       
        color: #10273A;
        font-size: 3rem;
        font-family: oswald,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    
    }
    
    .mes_2--container {
        display:flex;

        margin-left: auto;
        margin-right: auto;
        
    }
    .mes_2 {
    
    text-align: center;
    color: #10273A;
    font-size: 2rem;
    font-family: avenir,Verdana, Geneva, Tahoma, sans-serif;
    }

    #b_uno {
        border: 1px dotted #999;
        border-radius: 0;
      
        -webkit-appearance: none;
      }

      .botones_container {
       width: 100%;
       height:40px;
       background-color: #dfdfdf;
       border-radius: 20px;
       display: flex;
      }

      #b_tres {

        height: 40px;
        width: 110px;
        border-radius: 20px;
        margin: auto;
        margin-left: 0%;
        background-color: #dfdfdf;
        border: 0;
        color: #c5c5c5;
      } 

      #b_seis {

        height: 40px;
        width: 110px;
        border-radius: 20px;
        margin: auto;
        background-color: #dfdfdf;
        border: 0;
        color: #c5c5c5;
      } 

      #b_doce {

        height: 40px;
        width: 110px;
        border-radius: 20px;
        margin: auto;
        margin-right: 0%;
        background-color: #dfdfdf;
        border: 0;
        color: #c5c5c5;
      } 

      


      #b_tres:hover {

        border:1px solid #ffffff;
        color: #ffffff;
        background-color: #10273A; 
      }

      #b_seis:hover {

        border:1px solid #ffffff;
        color: #ffffff;
        background-color: #10273A;
      }

     

      #b_doce:hover {

        border:1px solid #ffffff;
        color: #ffffff;
        background-color: #10273A; 
      }

      #b_tres:active {

        border:1px solid #ffffff;
        color: #ffffff;
        background-color: #4697da; 
      }

      #b_seis:active {

        border:1px solid #ffffff;
        color: #ffffff;
        background-color: #429feb;
      }

      #b_doce:active {

        border:1px solid #ffffff;
        color: #ffffff;
        background-color: #4297dd; 
      }


     